
#background {
  background-image: url('reborned2.webp');
  background-repeat: no-repeat;
  height: 1000px;
  background-position: scroll;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* iphone 4*/
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  #background {
  background-image: url('reborned2iphone.jpg');
}
}

/*iphone 5*/
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  #background {

  background-image: url('reborned2iphone.jpg');
}
}

/*iphone 6*/
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
  #background {

  background-image: url('reborned2iphone.jpg');
}
}

/*iphone 6+ 7 8*/

@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
  #background {

  background-image: url('reborned2iphone.jpg');
}
}

/*iphone x*/

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
  #background {

  background-image: url('reborned2iphone.jpg');
}
}

