
#background {
  background-image: url('reborned2.webp');
  background-repeat: no-repeat;
  height: 1000px;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
