
#background:after{
      content:"";
      position:fixed; /* stretch a fixed position to the whole screen */
      top:80px;
      height:100%; /* fix for mobile browser address bar appearing disappearing */
      left:0;
      right:0;
      z-index:-1; /* needed to keep in the background */
      background: url(Quarteira_1.jpeg) center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

#wrapper {
  background-color: white;
}

.blanckspace {
  widht: 100%;
  height: 1000px;
}

.bgsections {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
